<div class="main">
  <div class="container-fluid">
    <div class="row title ">
      <div class="col-sm-3">
        <div class="btn-group float-left">
          <button class="btn btn-success" (click)="timerService.startTime()">start</button>
          <button class="btn btn-danger" (click)="timerService.stopTime()">stop</button>
          <a>&nbsp;<i class="fa fa-clock-o"></i> - {{dataService.time}}</a><br>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="assets/img/gold.png" height="40" width="40" title="золото"/>
        <strong>{{ dataService.gold | number: '3.2-2'}}</strong>
        &nbsp;&nbsp;
        <img src="assets/img/man.png" height="40" width="40" title="рабочие"/>
        <strong>{{ dataService.allMans | number }}</strong>
        &nbsp;&nbsp;
        <img src="assets/img/food.png" height="40" width="40" title="еда"/>
        <strong>{{ dataService.food | number }}</strong>
        &nbsp;&nbsp;
        <img src="assets/img/wood.png" height="40" width="40" title="дерево"/>
        <strong>{{ dataService.wood | number }}</strong>
        &nbsp;&nbsp;
        <img src="assets/img/stone.png" height="40" width="40" title="камень"/>
        <strong>{{ dataService.stone | number }}</strong>
        &nbsp;&nbsp;
        <img src="assets/img/weapon.png" height="40" width="40" title="оружие"/>
        <strong>{{ dataService.weapon | number }}</strong>

      </div>
      <div class="col-sm-3">
        <button class="btn btn-success" (click)="this.buildService.createStructure('forest')">лес</button>
        <button class="btn btn-success" (click)="this.buildService.createStructure('stone')">камень</button>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="block">
          <div *ngIf="this.dataService.activeMeter.obj">
            <h6>{{this.dataService.activeMeter.obj.name}} </h6>
            <div *ngIf="itIsArea(this.dataService.activeMeter.obj)">
              <div *ngIf="this.dataService.activeMeter.obj.wood">
                <a>доски - {{this.dataService.activeMeter.obj.woodHere}} / {{this.dataService.activeMeter.obj.wood}}</a><br>
                <a>камень - {{this.dataService.activeMeter.obj.stoneHere}}
                  / {{this.dataService.activeMeter.obj.stone}}</a><br>
                <a>рабочие - {{this.dataService.activeMeter.obj.worker}}</a>&nbsp;
                <div class="btn-group">
                  <button class="btn btn-success" (click)="this.buildService.addWorker()">+</button>
                  <button class="btn btn-danger" (click)="this.buildService.delWorker()">-</button>
                </div>
                <br>
                <a>построено - {{this.dataService.activeMeter.obj.build}}
                  / {{this.dataService.activeMeter.obj.health}}</a>
              </div>
            </div>
            <div *ngIf="this.dataService.activeMeter.obj.res">
              <a>{{this.dataService.activeMeter.obj.res}} - {{this.dataService.activeMeter.obj.count}}</a>
              <button class="btn btn-success" (click)="getResurs()">собрать</button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="block">
          <div *ngIf="!this.dataService.activeMeter.obj">
            <h6>пусто</h6>
            <button class="btn btn-primary"
                    (click)="this.buildService.createArea('castle')"
            >замок
            </button>
            <button class="btn btn-primary"
                    (click)="this.buildService.createArea('farm')"
            >ферма
            </button>
            <button class="btn btn-primary"
                    (click)="this.buildService.createArea('dom')"
            >изба
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr>
</div>

